.jumbotron{
    background-image: url("../img/jongsun-lee-F-pSZO_jeE8-unsplash.jpg");
    height: 675px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}
